{{ define "main" }}
{{ $data := site.Data.tx.data }}
<div class="tx2-main">
    <div class="tx-table-wrapper">
        <table class="tx2-table">

            <tr>
                <th>Tx</th>
                <th>Date</th>
                <th>From</th>
                <th>To</th>
                <th>Debit</th>
                <th>Credit</th>
            </tr>
            {{ range $data }}
            <tr>
                <td title="@{{.S1}}">%{{ .S1 }}</td>
                <td>{{ .date | dateFormat "Jan 02, 2006 3:04 PM" }}</td>
                <td class="w1" title="@{{.S2}}">
                    <span class="">{{ .from }}</span>
                    <span class="s2">@{{ .S2}}</span>
                </td>
                <td class="w1" title="@{{.S2}}">
                    <span class="">{{ .to }}</span>
                    <span class="s2">@{{ .S2}}</span>
                </td>
                <td class="number">{{ .debit }}</td>
                <td class="number">{{ .credit }}</td>
            </tr>
            {{ end }}

        </table>
    </div>
</div>

{{ end }}
