<div class="form-wrapper">
    <h2>Issue new Credit</h2>
    <form>
        <div class="form-item">
        <label for="name">Account to issue new credit to: </label>
        <input id="name" name="name" required="" type="text" value="Wolf, Bednar and Hettinger" />
        <div class="name-id">@4cff841918a5d14e84c29afbffbb25d4a13beead</div>
        </div>

        <div class="form-item">
        <label for="amount">Value: </label>
        <input id="amount" name="amount" required="" type="number" value="12500" />
        </div>

        <div class="form-item form-submit" >
            <button id="sendnewcredit" >Send</button>
        </div>

        
    </form>
    
    
</div>
<div class="form-status" id="formstatus">
    <div class="status-details">
        <h2>Transaction Status:</h2>
        <div class="coin-details">
            <span class="coin-label">Coin amount</span> 
            <span class="coin-amount">12500</span> 
        </div>
        <div class="recipient">
            <span class="recipient-label">Recipient ID</span>
            <span class="recipient-id">@4cff841918a5d14e84c29afbffbb25d4a13beead </span>
        </div>
        <div class="txn">
            <span class="txn-label">Transaction ID</span>
            <span class="txn-id">%01a1fab9ab418108b4091082f1a081e7b834e812</span>
        </div>
    </div>
    <div class="status-qr">
        {{ $qr := resources.Get "app/qr.svg" }}
        {{ $qr.Content | safeHTML }}
    </div>
</div>

<script>
var b = document.getElementById("sendnewcredit")

var sendnewcredit = function(){
    var f = document.getElementById("formstatus")
    f.classList.remove("hidden")
}

b.addEventListener("click", function(e){
    e.preventDefault();
    sendnewcredit();
  })
</script>