<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    {{ $main_options := (dict "targetPath" "css/test.css" "outputStyle" "compressed") }}
    {{/* {{ $style := resources.Get "test/scss/style.scss" | resources.ExecuteAsTemplate "main_parsed.scss" . | toCSS $main_options | resources.Fingerprint}}
    */}}
    {{ $style := resources.Get "test/scss/style.scss" | resources.ExecuteAsTemplate "main_parsed.scss" . | toCSS (dict "targetPath" "css/test.css") }}

    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body class="test1">
    <div class="content">
        <div class="animation">
            {{ $text := slice "a" "u" "t" "o" "n" "o" "m" "i" "c" "s"}}
            {{ range $text }}
                {{ partial "animation" . }}
            {{ end }}
        </div>
        <div class="landing-text">
            <h2>sigchain capital</h2>
            <h3>capital as technology</h3>
        </div>
        <div class="bg">
        </div>
        
    </div>
</body>

</html>
