.tx2-wrapper {
    select, input {
        width: 100%;
        padding: 8px 0;
        border: 0px;
        font-size: 120%;
        margin-bottom: 8px;
        border-bottom: 2px solid $blue;
        text-align: right;
        background-color: unset;
    }

}